header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #eee;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;

  a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

  div {
    display: flex;
    align-items: center;
  }

  .ant-radio-group {
    margin-right: 1rem;

    .ant-radio-button-wrapper {
      border: none;
      border-radius: 4px;
      color: #333;
      background-color: #f1f1f1;
      margin-right: 0.5rem;

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        color: #fff;
        background-color: #333;
      }

      &.ant-radio-button-wrapper-checked {
        color: #fff;
        background-color: #333;
      }
    }
  }

  .ant-popover-inner {
    max-width: 300px;

    p {
      margin-bottom: 0.5rem;
      font-size: 0.9rem;
      line-height: 1.2;
    }
  }

  .ant-btn-primary {
    background-color: #333;
    border-color: #333;

    &:hover,
    &:focus {
      background-color: #555;
      border-color: #555;
    }
  }
}

.ant-popover-content {
  max-width: 50vw;
  margin-right: 1rem;
}
